body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 12px;
}
label, input {
	display: block;
}
input[type=text], input[type=email], input[type=password], textarea {
	padding: 0.35em;
	border: 1px solid #8b704b;
}
input[type=submit], a.button {
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	border-radius: 15px;
	background: -webkit-gradient(linear, left top, left bottom, from(#2C4F6C), to(#002C4F));
	color: white;
	padding: 0 20px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	border: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
input:active[type=submit], a.button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#200), to(#600));
}
table, td {
	border: 1px solid rgb(204, 204, 204);
	background: rgb(255, 255, 255);
	border-collapse: collapse;
	padding: 0.25em;
}
/* clearfix for divs containing floated elements */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

ul.list > li.selected {
	background: blue;
}
ul.list > li.selected > a {
	color: white;
}
ul.list > li > a {
	display: block;
	line-height: 20px;
	padding: 0 10px;
	text-decoration: none;
}

div.character-sheet > div {
	border: 1px solid rgb(204, 204, 204);
	background: rgb(238, 238, 238);
	padding: 10px;
	border-radius: 7px 7px 0 0;
	overflow: hidden;
	margin: 5px;
	float:left;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
div.character-sheet > div > h4 {
	padding: 6px 10px;
	margin: -10px -10px 10px -10px;
	background: rgb(204, 204, 204);
}
div.character-sheet > div.info {
	float: none;
	border-radius: 0;
	margin: 0;
	border: none;
}
div.character-sheet > div.powers ul.list {
	float:left;
}
div.iframe-wrapper {
	border: 1px solid rgb(204, 204, 204);
	width: 590px;
	height: 300px;
	overflow: auto;
}
