label, input {
	display: block;
}
input[type=text], input[type=email], input[type=password], textarea {
	padding: 0.35em;
	border: 1px solid #8b704b;
}
input[type=submit], a.button {
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	border-radius: 15px;
	background: -webkit-gradient(linear, left top, left bottom, from(#2C4F6C), to(#002C4F));
	color: white;
	padding: 0 20px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	border: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
input:active[type=submit], a.button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#200), to(#600));
}
table, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0.25em;
}
/* clearfix for divs containing floated elements */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
