body {
	background: #600;
	background: #600 -webkit-gradient(linear, left top, left bottom, from(#200), to(#600)) no-repeat;
	font-family: "Georgia", serif;
	font-size: 16px;
	color: #500;
}
#header, #footer, #content {
	width: 860px;
	padding-left: 50px;
	padding-right: 50px;
	margin: 0 auto;
}
#header {
	position: relative;
	background: url(/images/header.png) no-repeat;
	height: 150px;
}
#header > ul.account {
	position: absolute;
	overflow: hidden;
	background: rgba(64,0,0,0.1);
	border: 1px solid rgba(64,0,0,0.2);
	border-radius: 6px;
	right: 50px;
	bottom: 0px;
}
#header > ul.account > li {
	float: left;
	padding: 4px 8px;
	border-left: 1px solid rgba(64,0,0,0.2);
}
#header > ul.account > li:first-child {
	border-left: none;
}
#content {
	background: url(/images/content.png) repeat-y;
	height: auto;
}
#footer {
	background: url(/images/footer.png) no-repeat;
	height: 150px;
}
input[type=text], input[type=password], textarea {
	font-family: "Georgia", serif;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.25);
	padding: 0.35em;
	border-radius: 0.45em;
	border: 1px solid #8b704b;
}
input[type=submit], a.button {
	font-family: "Georgia", serif;
	font-size: 16px;
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#600), to(#200));
	color: #eee2d0;
	padding: 0.35em 1.0em;
	border-radius: 0.45em;
	border: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
input:active[type=submit], a.button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#200), to(#600));
}

div.character, div.campaign {
	position: relative;
	padding: 10px;
	padding-left: 84px;
	background: rgba(64,0,0,0.1);
	border: 1px solid rgba(64,0,0,0.2);
	overflow: hidden;
	min-height: 64px;
	border-radius: 10px;
	margin-top: 1em;
}
div.character:first-child {
	margin-top: 0;
}
div.character img {
	position: absolute;
	top: 10px;
	left: 10px;
}
div.campaign {
	padding-left: 10px;
	min-height: 0;
}