<div class="card daily">
  <h1><span class="level">Avenger Attack 1</span>Wings of Light</h1>
  <p class="flavor">
    <i>Shining wings sprout from your shoulders for a moment, carrying you swiftly to your sworn foe.</i>
  </p>
  <p class="powerstat">
    <b>Daily</b>&nbsp;&nbsp; <img src="images/bullet.gif" alt=""/>
    &nbsp;&nbsp;&nbsp;&nbsp; <b>Divine</b>, <b>Weapon</b><br/><b>Standard
    Action</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Melee</b> weapon
  </p>
  <p class="flavor">
    <b>Effect</b>: Before the attack, you can fly 6 squares and must land in a
    square adjacent to your oath of enmity target. This movement does not
    provoke opportunity attacks.
  </p>
  <p class="powerstat">
    <b>Target</b>: Your oath of enmity target
  </p>
  <p class="powerstat">
    <b>Attack</b>: Wisdom vs. AC
  </p>
  <p class="flavor">
    <b>Hit</b>: 3[W] + Wisdom modifier damage.
  </p>
  <p class="powerstat">
    <b>Miss</b>: Half damage.
  </p>
</div>
