<!DOCTYPE html>
<html>
<head>
	<title><%= @character ? @character.name : 'Character Sheet' %></title>
	<%= stylesheet_link_tag 'reset', 'charsheet', :media => 'all' %>
</head>
<body>
<%= yield %>
</body>
</html>
