<!DOCTYPE html>
<html>
<head>
	<title>Gamelog</title>
	<%= stylesheet_link_tag 'reset', 'main' %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body>

<div id="header">
</div>
<div id="content">
<%= yield %>
</div>
<div id="footer">
</div>

</body>
</html>
